*{
    font-family: "karla",'DM Serif Display', serif, sans-serif;
    font-size: 16px;
}

.bg-primary-color{
    background-color: #fff;   
}
   
.bg-secondary-color{
   background-color: #ece8ea;
}
   
.bg-dark-color{
    background-color: #050505;
}
   
.primary-color{
   color:#050505;
}
   
.secondary-color{
   color: #fff;
}

.title{
    font-size: 35px;
    font-family: 'DM Serif Display';

}
h1{
    padding-top: 50px;
    font-weight: 700;
    font-size: 40px;
}
p{
    margin-top: 10px;
}

.sub-title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'DM Serif Display';
    font-weight: 400;
}


/*NAVBAR*/

.nav-link{
    text-transform: uppercase;
    margin-left: 16px;
    font-weight: 700;
}

#navbarNav .navbar-nav{
    display: flex;
    justify-content: end;
    width: 100%;
}
.btn{
    border-radius: 0;
}

#nav-link:hover{
    background-color: #000;
    color: #fff;
    
}


/* INTRO */
#intro{  
    background-color: hsl(256, 26%, 20%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 1em;
    background-image: url(/assests/images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
}


#intro a{
    margin-bottom: 5em;
}


/* BANNER */

#banner{
    margin-bottom: 50px;
}
#banner p{
    color: #a1a1a1;
}
.card{
    margin-bottom: 1em;
    border:none
}

#banner .title{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

#banner .title:before{
    width: 100px;
    border-top: 1px solid #c7c0c0;
    content: '';
    position: absolute;
    bottom: 2em;
    border-radius: 1;
}

/* info */

#container-info{
    background-color: hsl(256, 26%, 20%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 1em;
    background-image: url(/assests/images/bg-pattern-how-we-work-mobile.svg);
    background-position: right;
    background-repeat: no-repeat;
}

#container-info a{
    margin: 2em 0;
}


/* FOOTER */

#footer{
    margin-top: 100px;
    background-color: hsl(0, 0%, 98%);
}

#footer-top{
    border-bottom: 1px solid #c7c0c0;
    background-image: url(/assests/images/bg-pattern-footer-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
}

#footer-top i{
    margin-top: 70px;
    margin-bottom: 9px;
}

#social-icon i{
    margin-top: 20px;
    padding: 10px;
}


/* FOOTER BOTTOM*/

#link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#footer-bottom{
    margin-top: 50px;
}

#footer-bottom h3{
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #c7c0c0;
    text-transform: uppercase;
}

#footer-bottom li{
    margin-bottom: 10px;
}

#footer-bottom a{
    color: #050505;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

#footer-bottom a:hover{
    border-bottom: 1px solid #000;
}

/* img */

@media(min-width:768px){
    .img-fluid {
        margin-bottom: -550px;
        padding-left: 750px;
    }
}

/* MEDIA INTRO*/

@media(min-width:768px){

    #body-intro{
        display: flex;
        justify-content: start;
        align-items: start;
        text-align: start;
        flex-direction: column;
    }

    #body-intro .title{
        display: flex;
        position: relative;
        font-size: 60px;
    }

    #body-intro .title:before {
        width: 100px;
        border-top: 1px solid #c7c0c0;
        content: '';
        position: absolute;
        margin-top: -10px;
    }
}

/*MEDIA BANNER */

@media(min-width:768px){
    .card{
        text-align: start!important;
    }

    #banner .title{
        font-size: 60px;
        justify-content: start;
    }
}


/*MEDIA INFO*/

@media(min-width:768px){

    #container-info{
        display: flex;
        margin-bottom: 0px;
    }

    .row{
        padding-bottom: 50px;
    }
    
    #container-info a{
        margin: 0;
    }

    #container-info h1{
        font-size: 48px;
        padding-left: 10px;
    }
    #btn-info{
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    #title-info{
        display: flex;
        text-align:start;
        justify-content: center;
        align-items: center;
    }
}


/* MEDIA FOOTER*/

@media(min-width:768px){
    #social-icon{
        justify-content: end!important;
        align-items: center;

    }
    #social-icon i{
        margin-top: 0;
    }

    #logo {
        justify-content: start!important;
        align-items: center!important;
    }
    #footer-top i{
        margin-bottom: 10px;
        margin-top: 20px;
    }

    #link{
        padding: 0;
        margin: 0;
        display: block;
        text-align: start;
    }
}